

.upper{
  display: block;
  width: 100%;
  background-color: #CDFCF6;
  padding-top: 100px;


}
.middle{
    background-color: #FAF7F0;
  padding-top: 70px;
  padding-bottom: 50px;



}
.footer{
  padding-top: 40px;
  padding-bottom: 60px;
    margin: 0;
    background-color: #CDFCF6;
    height: 45px;




}
body{
  margin: 0;
  text-align: center;
font-family: 'Merriweather'
}

p{
  font-size: 20px;
  margin-bottom: 60px;
}
h1{
 font-family: 'Sacramento';
 font-size: 100px;
  margin: 0 auto 0 auto;
}

h2{
  font-size: 40px;
}
h3{
margin: 0;
position: relative;
bottom: 10px;
left: 0px;
}
.my image{
  position: relative;
  top: 50px;
      margin: 0 auto 0 auto;
}
.my image:hover{

}

.upar{
    position: absolute;
    right: 300px;
    top: 55px;
}

.niche{
  position: absolute;
left: 330px;
  top: 220px;
}
.home{
  position: absolute;
  left:350px;
}
.home{
  position: relative;
  top: 70px;
}
.homet{
  position: relative;
  width: 20%;
  top: 60px;
  left: 965px;

}
.coach{
  position: relative;
  left: 350px;

}
.coacht
{
  width:30%;
  position: relative;
  left: 850px;
  bottom : 10px;
}
.school{
  position: relative;
  right:150px;
  top: 10px;
}
.schoolt{
  position: relative;
  left:250px;
  width: 50%
}
 hr {
   border-style: none;
border-color:black;
border-width: 5px;
border-top-style: dotted;
 width: 10%
}
.uni{
  position: relative;
  right:150px;

}
.unit{
  position: relative;
  top: 10px;
  right: 140px;
margin: 0;

}


.social:hover {
  background-color: #FAF7F0;
border-radius: 5px;


  text-decoration: none;
}

.social{
  margin: 0 10px 0 10px;
  height: 30px;
  position: relative;
  top: 10px;
  left: 35px;

}
.cc{
  display: inline;
  position: relative;
  right: 80px;
  top: 40px;

}
