.nav{
    background-color:#100720;
display: block;
border: 0;
height: 2.5em;
padding-bottom: 1em;
position: fixed;
width: 100%;
}

.link{
  color: white;
  text-decoration: none;
}
.n1{
  position: relative;
  right: 50%;
  top:1.25em;

}
.n3{
  position: relative;
right: 35%;

bottom:1.25em;

}
.n2{
  position: relative;
left:45%;
}

.horizontal{
  list-style-type: none;
  margin: 0;
  color: white;
}
.upper{
  display: block;
  width: 100%;
  background-color: #CDFCF6;
  padding-top: 100px;


}
.middle{
    background-color: #FAF7F0;
  padding-top: 70px;
  padding-bottom: 50px;



}
.footer{
  padding-top: 40px;
  padding-bottom: 60px;
    margin: 0;
    background-color: #CDFCF6;
    height: 45px;




}
body{
  margin: 0;
  text-align: center;
font-family: 'Merriweather'
}

p{

  margin-bottom: 60px;
  width: 40%
  position:relative;
  left: auto;
font-size: 20px;
}
h1{
 font-family: 'Sacramento';
 font-size: 100px;
  margin: 0 auto 0 auto;
  color: #31C6D4;
}

h2{
  font-size: 40px;
}
h3{
margin: 0;
position: relative;
bottom: 10px;
left: 0px;
}
.my image{
  position: relative;
  top: 50px;
      margin: 0 auto 0 auto;
}
.my image:hover{

}

.upar{
    position: absolute;
    right: 300px;
    top: 115px;
}

.niche{
  position: absolute;
left: 17%;
  top: 220px;
}
.home{
  position: relative;
  left:24%;
}
.home{
  position: relative;
  top: 70px;
}
.homet{
  position: relative;
  width: 20%;
  top: 60px;
  left: 65%;

}
.coach{
  position: relative;
  left: 24%;

}
.coacht
{
  width:30%;
  position: relative;
  left: 60%;
  bottom : 10px;
}
.school{
  position: relative;
  right:24%;
  top: 10px;
}
.schoolt{
  position: relative;
  left:0;
  width: 60%
}
 hr {
   border-style: none;
border-color:black;
border-width: 5px;
border-top-style: dotted;
 width: 10%
}
.uni{
  position: relative;
  right:24%;

}
.unit{
  position: relative;
  top: 10px;
  right: 0;
width: 50%

}


.social:hover {
  background-color: #FAF7F0;
border-radius: 5px;


  text-decoration: none;
}

.social{
  margin: 0 10px 0 10px;
  height: 30px;
  position: relative;
  top: 10px;
  left: 35px;

}
.cc{
  display: inline;
  position: relative;
  right: 80px;
  top: 40px;

}

.love{
  font-size: 100%;
}
 .student{
   height: 300px;
 }
